@CHARSET "UTF-8";

* {
    margin: 0;
    padding: 0;
}

/*链接样式*/
a {
    text-decoration: none;
    color: peru;
}

img {
    margin: 1% 0 0 1%;
}

h1 {
    text-align: center;
    font-size: 300%;
    margin-top: 15%;
    margin-bottom: 2%;
}

.mainBody {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    justify-content: center;
}

.login {
    width: 75%;
    text-align: center;
    display: flex;
    justify-content: center;
    font-size: 150%;
    flex-wrap: wrap;
}

.login div div {
    width: 100%;
    display: inline-flex;
    justify-content: center;
}

.login div div label {
    text-align: left;
    width: 8%;
    font-size: 100%;
}

.login div div input {
    width: 30%;
    font-size: 100%;
    margin: 0 0 0.5% 0;
}

.login div div:last-child input {
    width: 5.5%;
    font-size: 90%;
    margin: 1%;
}

.login div div span {
    font-size: 100%;
    color: red;
    margin: 0 0 0.5% 0;
}

.logined {
    display: flex;
    width: 80%;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 1%;
}

.logined div {
    width: 80%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    font-size: 80%;
}

.logined div:first-child span[name="placeholder"] {
    width: 70%;
    justify-content: center;
}

.logined div span {
    color: cornflowerblue;
    font-size: 200%;
    /*justify-items: center;*/
}

.simple {
    display: flex;
    width: 100%;
    justify-content: center;
}

.simple div {
    display: flex;
    width: 80%;
    justify-content: center;
}

.simple div span {
    border: solid 1px black;
    font-size: 270%;
    width: 15%;
    text-align: center;
    color: black;
}

.simple div:first-child span {
    font-size: 350%;
}

.simple div span:nth-child(3) {
    width: 20%;
}

.simple div:not(:first-child) span:nth-child(3) {
    font-size: 180%;
}


.detail {
    display: flex;
    width: 100%;
    justify-content: center;
}

.detail a {
    display: flex;
    width: 90%;
    justify-content: center;
}

.detail a span {
    border: solid 1px black;
    font-size: 200%;
    text-align: center;
    color: black;
}

.detail a:first-child span {
    font-size: 230%;
}


.detail a span {
    width: 20%;
}

.detail a span:first-child {
    width: 15%;
}

.detail a:not(:first-child) span:nth-child(2) {
    font-size: 150%;
}


.expense {
    width: 100%;
    text-align: center;
    display: flex;
    justify-content: center;
    font-size: 150%;
    flex-wrap: wrap;
}

.expense table {
    border: none;
    border-collapse: collapse;
    font-size: 125%;
}

.expense tr td, .expense tr th {
    border: solid black 1px;
    font-size: 125%;
}

.expense tr td:nth-child(1), .expense tr th:nth-child(1) {
    width: 100%;
}

select {
    font-size: 70%;
    width: 25%;
    text-align: center;
    margin-left: 1%;
}

textarea {
    border: none;
    resize: none;
    font-size: 125%;
}

tr td:last-child:not([colspan="2"]) {
    text-align: left;
}

td input {
    width: 35%;
    font-size: 70%;
    margin-left: 1%;
}

td[colspan="2"] input {
    margin: 0 5% 0 5%;
    width: 10%;
    justify-content: space-around;
    /*text-align: left;*/
}

li {
    list-style: none;
}

.menu1 {
    display: flex;
    justify-content: center;
}

.menu1 div {
    width: 15%;
    /*border: solid 1px black;*/
    font-size: 225%;
    display: inline-flex;
    /*margin-top: 1%;*/
}


.menu2 {
    /*width: 70%;*/
    flex-direction: column;
    justify-content: center;
    display: none;
}

.menu2 li {
    border: solid 1px black;
    font-size: 90%;
    display: inline-flex;
    /*margin-top: 1%;*/
}

.userInfo, .departmentInfo {
    display: flex;
    width: 100%;
    justify-content: center;
}

.userInfo div, .departmentInfo div {
    display: flex;
    width: 80%;
    justify-content: center;
}

.userInfo div span, .departmentInfo div span {
    border: solid 1px black;
    font-size: 225%;
    width: 12%;
    text-align: center;
    color: black;
}

.userInfo div:first-child span, .departmentInfo div:first-child span{
    font-size: 275%;
}

.userInfo div span:first-child, .departmentInfo div span:first-child {
    width: 10%;
}

.userInfo div span:nth-child(2) {
    width: 16%;
}

.userInfo div:not(:first-child) span:nth-child(2) {
    font-size: 190%;
}

.userInfo div span:nth-child(5) {
    width: 14%;
}

.userInfo div span:nth-child(6) {
    width: 24.5%;
}

.userInfo div:not(:first-child) span:nth-child(6) {
    font-size: 190%;
}

.userInfo div span:last-child {
    width: 10%;
}

.option form {
    width: 100%;
    text-align: center;
    display: flex;
    justify-content: center;
    font-size: 150%;
    flex-wrap: wrap;
}

.option form table {
    width: 70%;
    border: none;
    border-collapse: collapse;
    font-size: 100%;
}

.option form tr td, .option form tr th {
    border: solid black 1px;
    font-size: 160%;
}

.option form tr td:nth-child(1) {
    width: 25%;
}

.option form tr td[colspan="2"] input {
    margin: 0 3% 0 3%;
    width: 10%;
    justify-content: space-around;
    font-size: 63%;
}

/*#verifyButton {*/
/*    width: 1%;*/
/*}*/

.message {
    position: absolute;
    top: 480px;
    left: 960px;
}